.about-container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: var(--space-3);
}

.about-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img {
    width: 320px;
    border-radius: var(--border-radius-large);
    border: 10px solid rgba(255, 255, 255, 0.2);
    box-shadow: var(--primary-shadow-large);
    animation: profile-about-animate 10s ease-in-out infinite;
    transition: transform .4s ease;
}

.about-img:hover {
    transform: scale(1.05);
}

@keyframes profile-about-animate {
    0% { border-radius: 12% 20% 35% 45% / 55% 65% 70% 85%; }
    50% { border-radius: 75% 65% 55% 45% / 35% 25% 20% 15%; }
    100% { border-radius: 12% 20% 35% 45% / 55% 65% 70% 85%; }
}

.about-info {
    grid-template-columns: repeat(2, 180px);
    gap: var(--space-1);
    margin-bottom: var(--space-2);
}

.about-box {
    background: var(--blur-bg);
    border: var(--border);
    border-radius: var(--border-radius-medium);
    text-align: center;
    padding: var(--space-1) var(--space-1-5);
    transition: all .3s ease;
}

.about-box:hover {
    transform: translateY(-6px);
    box-shadow:var(--shadow-small);
}

.about-icon {
    color:var(--primary-text-color);
    font-size: var(--h2-font-size);
    margin-bottom: var(--space-0-5);
    transition: color .3s ease;
}

.about-box:hover .about-icon {
    color: var(--primary-color) ;
}

.about-title {
    color:var(--primary-text-color);
    font-size: var(--h5-font-size);
    font-weight: var(--font-semi);
}

.section-title span {
    color: var(--primary-color);
}

.about-subtitle {
    color:var(--primary-text-color);
    font-size: var(--h5-font-size);
    opacity: 0.8;
}
.about-description {
    color:var(--primary-text-color);
    padding: 0 var(--space-2) 0 0;
    margin-bottom: var(--space-2);
    line-height: 1.6;
    font-size: var(--h4-font-size);
}

@media screen and (max-width: 992px) {
    .about-container {
        grid-template-columns: 1fr;
        row-gap: var(--space-2-5);
    }
    .about-img {
        width: 240px;
    }
    .about-data {
        text-align: center;
    }
    .about-description {
        padding: 0 var(--space-2);
    }
    .about-info {
        justify-content: center;
    }
}

@media screen and (max-width: 576px) {
    .about-info {
        width:80%;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
    }
    .about-description {
        padding: 0 var(--space-1);
    }
}

@media screen and (max-width: 350px) {
    .about-info {
        grid-template-columns: 1fr;
    }
}
