@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --primary-color: #0475f0;
  --primary-color: #3b59f0;
  --primary-bg-color: #E8E8E8;
  --blur-bg:rgba(255,255,255,0.25);
  --primary-text-color: #000000;

  --header-height: 3rem;

  --body-font: "Poppins", sans-serif;

  --big-font-size: 2.5rem;
  --h1-font-size: 2rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --h4-font-size: 1rem;
  --h5-font-size: 0.9rem;
  --h6-font-size: .75rem;

  --font-medium: 500;
  --font-semi: 700;
  --font-bold: 900;

  --space-0-25: 0.25rem;
  --space-0-5: 0.5rem;
  --space-0-75: 0.75rem;
  --space-1: 1rem;
  --space-1-5: 1.5rem;
  --space-2: 2rem;
  --space-2-5: 2.5rem;
  --space-3: 3rem;
  --space-4: 4rem;
  --space-5: 4rem;
  --space-10: 10rem;

  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;

  --border-radius-small: 0.5rem;
  --border-radius-medium: 1rem;
  --border-radius-large: 1.5rem;
  --border-radius-circle: 50%;

  --border: 2px solid rgba(0,0,0,0.25);
  
  --primary-shadow-small: 0 0 10px var(--primary-color);
  --primary-shadow-medium: 0 0 20px var(--primary-color);
  --primary-shadow-large: 0 0 30px var(--primary-color);

  --shadow-small: 0 2px 4px rgba(0, 0, 0, 0.25);
  --shadow-medium: 0 4px 8px rgba(0, 0, 0, 0.25);
  --shadow-large: 0 12px 25px rgba(0, 0, 0, 0.25);

  --shadow-large-modal: 12px 12px 50px rgba(0, 0, 0, 1);

  --blur-light: blur(5px);
  --blur-medium: blur(10px);
  --blur-heavy: blur(15px);
}

[data-theme="dark"]{
  --primary-color: #1f41f4;
  --primary-color: #54a7ff;
  --primary-bg-color: #181818;
  --blur-bg:rgba(0,0,0,0.25);
  --primary-text-color: #FFFFFF;
  
  --shadow-small: 0 2px 4px rgba(255, 255, 255, 0.25);
  --shadow-medium: 0 4px 8px rgba(255, 255, 255, 0.25);
  --shadow-large: 0 12px 25px rgba(255, 255, 255, 0.25);

  --shadow-large-modal: 10px 10px 20px rgba(255, 255, 255, 0.25);

  --border: 2px solid rgba(255,255,255,0.25);
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.section {
  background: var(--primary-bg-color);
  padding: 6rem 0 2rem;
}

.section-title {
  text-align: center;
  font-size: var(--h1-font-size);
  color:var(--primary-text-color);
}

.section-subtitle {
  display: block;
  text-align: center;
  font-size: var(--h3-font-size);
  margin-bottom: 4rem;
  color:var(--primary-text-color);
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.button{
  display: inline-flex;            
  align-items: center;             
  justify-content: center; 
  border-radius:var(--border-radius-large);
  border: 1px solid var(--primary-color);
  background: var(--primary-bg-color);
  color:var(--primary-text-color);
  font-size: var(--h5-font-size);
  font-weight: var(--font-bold);
  padding: var(--space-1) var(--space-2);
  margin-top: var(--space-2);
  transition: all 0.3s ease;
  gap: var(--space-0-5);
  box-shadow: var(--primary-shadow-small);
}

.button:hover {
  border: 1px solid var(--primary-bg-color);
  background: var(--primary-color);
  transform: translateY(-3px);
  box-shadow: var(--shadow-large);
}

.button-icon {
  margin-left: var(--space-0-5);
  transition: transform 0.3s ease;
}

.button:hover .button-icon {
    transform: translateX(5px);
}
@media screen and (max-width: 992px) {
  :root {
    --big-font-size: 2.25rem;
    --h1-font-size: 1.75rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --h4-font-size: 0.9rem;
    --h5-font-size: 0.8rem;
    --h6-font-size: 0.75rem;
  }
  .button{
    font-size: var(--h5-font-size);
    font-weight: var(--font-bold);
    padding: var(--space-0-75) var(--space-1-5);
    margin-top: 0;
  }
}