.footer{
    background: var(--primary-bg-color);
    border-top: var(--border);
}
.footer-container{
    padding:var(--space-1) 0 var(--space-2);
    padding-top:var(--space-1);
    padding-bottom:var(--space-2);
}

.footer-title{
    font-size:var(--h2-font-size);
    font-weight: var(--font-bold);
    color:var(--primary-color);
    text-align: center;
    margin-bottom: var(--space-2);
}


.footer-social{
    grid-template-columns: repeat(8,50px);
    justify-content: center;
    gap: var(--space-1-5);
}

.footer-copy{
    display: block;
    margin-top: var(--space-3);
    color: var(--primary-color);
    text-align:center ;
    font-weight: var(--font-medium);
    font-size: var(--h5-font-size);
}

.footer-social-icon {
    color:var(--primary-text-color);
    font-size: var(--h3--font-size);
    width: 50px;              
    height: 50px;             
    display: flex;            
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius-circle);       
    transition: all 0.3s ease;
    box-shadow: var(--primary-shadow-small);
    padding: var(--space-0-75);
}

.footer-social-icon:hover {
    color: var(--primary-color) ;
    transform: translateY(-4px) scale(1.2);
    box-shadow: var(--primary-shadow-medium);;
}


@media screen and (max-width:992px) {
    .footer-social{
        grid-template-columns: repeat(4,45px);
        justify-content: center;
    }
    .footer-social-icon {
        width: 45px;              
        height: 45px;  
    }
}